h1 {
  color: rgb(227, 178, 97);
  font-family: Papyrus;
}

#homepage-body{
  width: fit-content;
  margin: 0 auto;
}

#homepage-body ul{
  list-style-type: none;
}

#homepage-body a{
  text-decoration: none;
}